<ion-header>
  <ion-navbar>
    <ion-title>Todos List</ion-title>

    <ion-buttons start>
      <button (click)="presentPrioritySelector($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding class="todos">

  <ion-list id="todos-list" style="padding-bottom: 60px;">
    <ion-item-sliding
      *ngFor="let todo of dataStore.todos |
      orderByDueDate | priorityFilter:priorityFilterValue trackBy: todo?.id"
      class="todo-item"
    >
      <ion-item (click)="editTodo(todo.id)">
        <h2>{{todo.title}}</h2>
        <p>{{todo.description}}</p>
        <p>
          <ion-badge
            *ngIf="todo.priority > 1"
            [style.backgroundColor]="todo.priority === 2 ? 'green' : 'red'"
          >
            {{todo.priority === 2 ? 'HIGH' : 'IMPORTANT'}}
          </ion-badge>
        </p>
        <ion-note item-right>
          <p
            [style.color]="todo.targetDate < nowDate ? 'red' : ''"
            *ngIf="todo.targetDate.length > 0"
          >
            Due: {{todo.targetDate}}
          </p>
          <p *ngIf="todo.doneDate">Done: {{todo.doneDate}}</p>
        </ion-note>

      </ion-item>
      <ion-item-options side="right">
        <button danger>
          <ion-icon name="close"></ion-icon>
          Delete
        </button>
        <button secondary>
          <ion-icon name="checkmark"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<button
  fab fab-bottom fab-right
  *ngIf="dataLoaded"
  (click)="editTodo()"
  style="z-index: 100;"
>
  <ion-icon name="add-circle"></ion-icon>
</button>

